<h1>Editing Hamburguesaingrediente</h1>

<%= render 'form', hamburguesaingrediente: @hamburguesaingrediente %>

<%= link_to 'Show', @hamburguesaingrediente %> |
<%= link_to 'Back', hamburguesaingredientes_path %>
